<!DOCTYPE html>
<html lang="ja"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{shared/layout}">
<head>
	<title>パスワード変更</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<h1 class="text-center">パスワード変更</h1>

			</div>
			<form th:action="@{/me/password}" th:object="${form}" th:method="PATCH">
				<p class="message" th:text="${message}"></p>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					エラー
				</div>
				<div class="form-group required">
					<label class="control-label" for="currentPassword" th:classappend="${#fields.hasErrors('currentPassword') ? 'text-danger' : ''}">現在のパスワード</label>
					<input class="form-control" th:field="*{currentPassword}" type="password" autofocus="autofocus">
					<small class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></small>
				</div>
				<div class="form-group required">
					<label class="control-label" for="currentPassword" th:classappend="${#fields.hasErrors('newPassword') ? 'text-danger' : ''}">新しいパスワード</label>
					<input class="form-control" th:field="*{newPassword}" type="password">
					<small class="text-danger" th:if="${#fields.hasErrors('secondValid')}" th:errors="*{secondValid}"></small>
					<small class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></small>
					<small class="text-danger" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"></small>
					<small class="text-danger" th:if="${#fields.hasErrors('currentValid')}" th:errors="*{currentValid}"></small>
				</div>
				<div class="form-group required">
					<label class="control-label" for="currentPassword" th:classappend="${#fields.hasErrors('passwordConfirmation') ? 'text-danger' : ''}">新しいパスワード（確認用）</label>
					<input class="form-control" th:field="*{passwordConfirmation}" type="password">
					<small class="text-danger" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></small>
					<small class="text-danger" th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"></small>
				</div>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="パスワード変更">
			</form>
		</div>
	</div>
</body>
</html>
